@import "scss-reset/_reset.scss";

html {
}

body {
  font-family: "Montserrat";
  padding: 30px 50px;
  background: #f4f4f4;
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 3px;
    opacity: 0.2;
    background-clip: padding-box;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 20px;
  }
}
